#InteractionWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: #232323;
}

#QuerySearchBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
