
.interactionWindow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: #DDD;
    height: auto;
    width: 50%;
}

#results {
    display: flex;
    flex-direction: column;
}


.artistName:hover {
    background-color: #137c38;
}